@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.header {
    background: #222222;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    box-sizing: border-box;

    i {
        color: #E8E8E8;
    }

    @media (min-width:768px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.userIcon, .cartIcon {
    display: none;
    @media (min-width:768px) {
    display: inline;
    }    
}

.userIcon {
    margin-left: 25px;
    margin-right: 42px;
}

.searchIcon {
    margin-left: 41px;
}

.cartIconWrap {
    display: inline;
    position: relative;

    span {
        display: inline-block;
        width: 19px;
        height: 19px;
        color: white;
        background: #F16D7F;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        top: -19px;
        right: -8px;
        font-family: Lato, sans-serif;
        font-size: 12px;
        line-height: 19px;
    }
}

.brand {
    /**/
    width: 100%;
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        border-left: 12px solid #F16D7F;
        padding-left: 10px;
        span {
            font-size: 24px;
        }
        .big {
            font-size: 38px;
        }
    }
    @media (min-width: 375px) {
        height: 363px;
    }
    @media (min-width:768px) {
        height: width; /*HOW THE FUCK I SHOULD GET WIDTH IN PIXELS AND PLACE IT HERE THE FUCK*/
        width: 50%;
        display: block;
        position: relative;
        left: 64px;
    }
}

/*fuck this shit, im out, peace*/